.wrapper{
    margin: auto;
    display: grid;
    text-align: center;
    height: 100%;
    width: 100%; 
}
body{
    background-color: #645f5f;
    margin:0;
    height: 100%;
}
.frame{
    background-image: url('../images/order3.jpg');
    text-transform:uppercase;
    font-size: 10vh;
    text-shadow: 2px 2px #645f5f;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.order{
    border-style: solid;
    height: 100%;
}
.check{
    background-color: rgb(64, 223, 43);
    color: white;
    font-size: 2vw;
    width: 69%;
}
.x{
    background-color: red;
    font-weight: bold;
    font-size: 2vw;
    width: 29.5%;
}